<li class="@(ViewBag.CurrentPage == "Home" ? "active" : "")">
    <a href="@Url.Action("Index", "Home")">@L("HomePage")</a>
</li>
<li class="@(ViewBag.CurrentPage == "About" ? "active" : "")">
    <a href="@Url.Action("Index", "About")">@L("About")</a>
</li>
